body{

}

.tab{

}

table{
	border: none;
	border-collapse: collapse;
	width: 50%;
	height: 70%;
}

td, tr{
	border: 2px solid black;
}

#choice{
	background-color: #fff;
	height: 30%;
	width: 30%;
	justify-content: center;
	text-align: center;
	border-radius: 12px;
	padding: 10px;
	margin: 10% 0 0 0;
	border: 8px solid darkblue;
}

button{
	width: 20%;
}